*{padding:0px;margin:0px;}
body {background:#282828; padding-top:40px;}
#squareHolder {width:900px;height:500px;border:1px solid #43e4db;margin:20px auto;line-height:0;}
#sizeHolder {display:inline-block;}
#options {float:right; color:#43e4db;}
#wrapper {width:900px; border:1px solid #43e4db; margin:20px auto; color:#282828;}

#links {
	width:900px;
	margin:10px auto;
}

#links a {
	color:#5e5e5e;
	text-decoration:none;
	float:right;
}


.square {
	border:1px dashed #43e4db;
	width:50px;
	height:50px;
	display:inline-block;
	margin:0px;
	box-sizing:border-box;
	opacity:0;
	background: rgb(40, 40, 40);
}

.sizeButtons {
	background:#43e4db;
	padding:3px 6px;
	display:inline-block;
	text-decoration:none;
	}
	
.sizeButtons:hover {cursor: pointer;}
.active {color:#fff;}
.optionsButtons {display: inline-block;padding:3px 15px 0 15px;}
.optionsButtons:hover {cursor: pointer;}